body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: x-large;
    font-family: Georgia, sans-serif;
    color: orangered; /*teksti värv*/

}
header h1{
    padding: 5%;

    font-variant: small-caps;
    border-bottom: 2px dotted orange;
}
header{
    background-color: floralwhite; /*tausta värv*/
    background-image: url('pilt.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
footer{
    width:100%;
    padding: 5%;
    background-color: floralwhite; /*tausta värv*/
    font-variant: small-caps;
    border-top: 2px dotted orange;
    position:fixed;
    left:0;
    bottom:0;
}
section#kast1{
    border: 1px groove lightgray; /*solid, double, dashed, dotted*/
    width: 250px;
    margin: 5px;
    padding: 1%;
    border-radius: 60px 120px 60px 120px;
    text-align: center;
    background-color: blanchedalmond;
    position: absolute;
    left: 0;
    top: 300px;
}
section#kast2{
    border: 10px  dotted gray; /*solid, double, dashed, dotted*/
    width: 25%;
    margin: 5px;
    padding: 1%;
    border-radius: 60px;
    text-align: center;
    position: absolute;
    left: 300px;
    top: 300px;
}
/**************NAV*******************/
nav ul{
    list-style-type: none; /*täpp võtab ära'*/
    margin:0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    color: red;
    text-decoration: none; /* alljoone on kustutatud*/
    padding: 10px;
    text-align: center;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 20%;
    font-variant: small-caps;

}
nav ul li a:hover{ /*link fookuses - hiir on peal*/
    background-color: orange;
}
nav{
    padding: 10px;

}
main{
    margin-top:20px;
}


